* {
    color: white;
}

.sub{
    height: 35px;
    width: auto;
    border-left: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    display: flex

}

.sub:hover {
    background-color: rgb(73, 72, 72);
    cursor: pointer;
}
